name: CI Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        env:
            TZ: Europe/London
            WHOOP_CLIENT_ID:     ${{ secrets.WHOOP_CLIENT_ID }}
            WHOOP_CLIENT_SECRET: ${{ secrets.WHOOP_CLIENT_SECRET }}
            WHOOP_API_BASE_URL:  ${{ vars.WHOOP_API_BASE_URL }}
            WHOOP_API_CYCLES_BASE_URL: ${{ vars.WHOOP_API_CYCLES_BASE_URL }}
            DB_URL:              ${{ secrets.DB_URL }}
            WHOOP_REDIRECT_URI:  ${{ vars.WHOOP_REDIRECT_URI }}
            WHOOP_AUTH_URL:      ${{ vars.WHOOP_AUTH_URL }}
            WHOOP_TOKEN_URL:     ${{ vars.WHOOP_TOKEN_URL }}
            WHOOP_SCOPE:        ${{ vars.WHOOP_SCOPE }}
        run: |
          PYTHONPATH=src pytest -v

            